    $accent-color: #FFCA42;
    $hover-color: #FFAD42;
    $title-color: #1B3764;
    $dark-accent-bg-color: #1B3764;
    $light-accent-bg-color: #F4F8FF;
    $bg-color: #fff;
    $text-color: #fff;
    $first-accent-text-color: #B4C7E7;
    $second-accent-text-color: #969AA0;
    $transition: 500ms ease-in-out;